<div class="govuk-!-width-two-thirds">
  <cca-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    caption="Change"
    heading="Why should this facility be audited?"
    submitText="Save and continue"
    data-testid="audit-form"
  >
    <div
      formControlName="reasons"
      govuk-checkboxes
      legend="Audit reasons"
      legendSize="medium"
      hint="Select the reasons that apply for this audit."
    >
      @for (option of reasonOptions; track option) {
        <govuk-checkbox
          [value]="option"
          [label]="option | facilityAuditReason"
          [divider]="option === 'OTHER' ? 'or' : null"
        />
      }
    </div>

    <div
      govuk-textarea
      label="Comments"
      labelSize="medium"
      hint="Provide further details on your reasons for auditing this facility"
      formControlName="comments"
    ></div>
  </cca-wizard-step>

  <hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
  <a class="govuk-link" routerLink="../.." fragment="audit">Return to: {{ facilityInfoDTO?.facilityBusinessId }}</a>
</div>
