<cca-wizard-step
  (formSubmit)="onSubmitFinancialIndependenceStatus()"
  [formGroup]="form"
  caption="Change"
  heading="Financial independence"
  submitText="Confirm and complete"
  data-testid="financial-independence-form"
>
  <div
    [options]="options"
    formControlName="financialIndependenceStatus"
    govuk-select
    label="Select whether this target unit will be financially independent."
  ></div>
</cca-wizard-step>

<hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
<a class="govuk-link" [routerLink]="'../..'"> Return to: {{ targetUnitAccountDetails.name }} </a>
