<form [formGroup]="filtersForm" data-testid="workflow-history-form">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-m">Workflow History</h3>
          <h3 class="govuk-heading-s">Type</h3>

          <div formControlName="requestTypes" class="govuk-checkboxes govuk-checkboxes--small" govuk-checkboxes>
            @for (type of workflowTypesMap | keyvalue; track type) {
              <govuk-checkbox [value]="type.value" [label]="type.key" />
            }
          </div>
        </div>

        <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-s">Status</h3>
          <div formControlName="requestStatuses" class="govuk-checkboxes govuk-checkboxes--small" govuk-checkboxes>
            @for (status of workflowStatusesMap | keyvalue; track status) {
              <govuk-checkbox [value]="status.value" [label]="status.key" />
            }
          </div>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-top-9">
        <ul class="govuk-list">
          @for (workflow of state().workflowsHistory?.requestDetails; track workflow.id) {
            <li class="search-results-list_item govuk-!-margin-bottom-3">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters govuk-!-margin-bottom-3">
                  <a [routerLink]="['workflow-details', workflow.id]" class="govuk-link">{{ workflow.id }}</a>
                  <div class="govuk-!-margin-bottom-0">Created {{ workflow.creationDate | date }}</div>
                </div>

                <div class="govuk-grid-column-one-quarter govuk-!-margin-top-2">
                  <govuk-tag [color]="workflow.requestStatus | statusColor: 'grey'">
                    {{ workflow.requestStatus | status }}
                  </govuk-tag>
                </div>
              </div>
            </li>
          } @empty {
            <li class="search-results-list_item govuk-!-margin-bottom-3">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                  <div class="govuk-!-margin-bottom-0">No workflow history found</div>
                </div>
              </div>
            </li>
          }
        </ul>
      </div>

      <cca-pagination
        [count]="state().totalItems"
        [currentPage]="state().currentPage"
        [pageSize]="state().pageSize"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      />
    </div>
  </div>
</form>
