@if ((isConfirmationDisplayed$ | async) === false) {
  <h2 class="govuk-heading-l">Confirm that this external contact {{ (contact$ | async).name }} will be deleted</h2>

  <govuk-warning-text>You will not be able to undo this action.</govuk-warning-text>

  <div class="govuk-button-group">
    <button (click)="deleteExternalContact()" ccaPendingButton govukWarnButton type="button">Confirm delete</button>
    <a govukLink fragment="external-contacts" [routerLink]="['/user/regulators']">Cancel</a>
  </div>
} @else {
  <div class="govuk-grid-row">
    @if (contact$ | async; as contact) {
      <div class="govuk-grid-column-two-thirds">
        <govuk-panel title="The external contact {{ contact.name }} has been deleted"></govuk-panel>

        <a fragment="external-contacts" govukLink [routerLink]="['/user/regulators']">
          Return to the Regulator users and contacts page
        </a>
      </div>
    }
  </div>
}
