@if (isEditable()) {
  <button [routerLink]="['external-contacts', 'add']" govukButton type="button">Add an external contact</button>
}
<govuk-table
  (sort)="sorting.set($event)"
  [columns]="isEditable ? editableColumns : nonEditableColumns"
  [data]="contacts()"
>
  <ng-template let-column="column" let-row="row">
    @switch (column.field) {
      @case ('name') {
        @if (isEditable()) {
          <a [routerLink]="['external-contacts', row.id]" class="govuk-link">
            {{ row[column.field] }}
          </a>
        } @else {
          {{ row[column.field] }}
        }
      }
      @case ('email') {
        <a class="govuk-link" href="mailto:{{ row[column.field] }}">{{ row[column.field] }}</a>
      }
      @case (null) {
        @if (isEditable()) {
          <a [routerLink]="['external-contacts', row.id, 'delete']" class="govuk-link">Delete</a>
        }
      }
      @default {
        {{ row[column.field] }}
      }
    }
  </ng-template>
</govuk-table>
