<cca-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  caption="Change"
  heading="Target unit details"
  data-testid="change-target-unit-details-form"
>
  <div class="govuk-!-width-two-thirds">
    <div formControlName="operatorType" govuk-radio legend="Operator type" legendSize="medium" hint="Select one option">
      @for (option of operatorTypeOptions; track option.value) {
        <govuk-radio-option [label]="option.text" [value]="option.value" />
      }
    </div>

    <div
      formControlName="operatorName"
      govuk-text-input
      label="Operator name"
      labelSize="medium"
      hint="For limited companies, limited partnerships or limited liability partnerships this should be the name which currently appears on Companies House"
    ></div>

    @if (subsectorsOptions().length > 0) {
      <div
        [options]="subsectorsOptions()"
        formControlName="subsectorAssociationId"
        govuk-select
        label="Subsector"
      ></div>
    }
  </div>
</cca-wizard-step>

<hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
<netz-return-to-task-or-action-page />
