<cca-wizard-step
  (formSubmit)="onSubmitResponsiblePerson()"
  [formGroup]="form"
  caption="New target unit"
  heading="Responsible person"
>
  <p>
    Enter the contact details of the responsible person. These details will appear in the underlying agreement.<br />
    The responsible person must be authorised by the operator to agree to the proposed underlying agreement.<br />
    For limited companies or limited liability partnerships, the responsible person should be a current officer
    registered with Companies House.
  </p>

  <cca-responsible-person-input />
</cca-wizard-step>
