<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div
        [legend]="legendText"
        legendSize="heading"
        radioSize="large"
        formControlName="toggle"
        govuk-radio
        [hint]="hint"
      >
        <govuk-radio-option [value]="true" [label]="'Yes'"></govuk-radio-option>
        <govuk-radio-option [value]="false" [label]="'No'"></govuk-radio-option>
      </div>
      <button govukButton type="submit">Confirm</button>
    </form>
  </div>
</div>
