<form (ngSubmit)="onSearch()" [formGroup]="searchForm" id="search-form">
  <div class="govuk-grid-row govuk-!-margin-bottom-5">
    <div class="govuk-grid-column-two-thirds">
      <div formControlName="term" govuk-text-input label="Search for a template" inputType="search"></div>
    </div>

    <div class="govuk-grid-column-one-third">
      <button netzPendingButton govukButton type="submit" style="margin: 1.9rem 0">Search</button>
    </div>
  </div>
</form>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p
      [class.govuk-visually-hidden]="hasTemplates()"
      aria-live="polite"
      role="status"
      tabindex="-1"
      data-testid="search-status"
    >
      {{ resultsStatus() }}
    </p>

    @if (hasTemplates()) {
      <cca-template-list
        data-testid="template-list-component"
        [templates]="templates()"
        [templateType]="templateType()"
      />

      <cca-pagination
        [count]="count()"
        [currentPage]="currentPage()"
        [pageSize]="pageSize()"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      />
    }
  </div>
</div>
