<h2 class="govuk-heading-m">Reports</h2>
<form [formGroup]="reportTypeForm">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div
        govuk-select
        widthClass="govuk-!-width-one-quarter"
        [options]="reportTypeOptions"
        formControlName="reportType"
        label="Report type"
      ></div>
    </div>
  </div>
</form>

@if (reportTypeValue() === 'Performance') {
  <cca-performance-report-filters />
  <cca-performance-data-report-table />
}

@if (reportTypeValue() === 'PAT') {
  <cca-pat-report-filters />
  <cca-pat-report-table />
}
