<div class="govuk-body govuk-!-width-two-thirds">
  <govuk-panel title="Payment requests process in progress">
    Your reference code is: <br />
    {{ referenceCode }}
  </govuk-panel>

  <p>Your payment requests for subsistence fees is in progress. It may take several minutes to complete.</p>

  <h2 class="govuk-heading-m">What happens next</h2>

  <p>
    Once the payment requests for subsistence fees is complete you will be able to view and monitor outstanding amounts
    through the details of the "Subsistence fees" tab (dedicated tab in subsistence fees main screen).
  </p>

  <p>Select "{{ referenceCode }}" from your list of sent subsistence fees to find the report.</p>

  <div class="govuk-!-margin-top-9">
    <a class="govuk-link" [routerLink]="['/', 'subsistence-fees']"> Return to: Subsistence fees </a>
  </div>
</div>
