<netz-page-heading>Are you sure you want to delete the {{ facility().facilityDetails.name }}?</netz-page-heading>

<govuk-warning-text assistiveText="">You will not be able to undo this action.</govuk-warning-text>

<div class="govuk-button-group">
  <button type="button" netzPendingButton (click)="onDelete()" govukWarnButton>Yes, delete the facility</button>
</div>

<hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
<a class="govuk-link" [routerLink]="['../../']"> Return to: Manage facilities list </a>
