@if (state().isEditable) {
  <form (ngSubmit)="onSave()" [formGroup]="form()" data-testid="site-contacts-form">
    <govuk-table
      data-testid="site-contacts-table"
      [columns]="columns"
      [data]="state().siteContacts"
      formArrayName="siteContacts"
    >
      <ng-template let-column="column" let-index="index" let-row="row">
        <ng-container [formGroupName]="index">
          @switch (column.field) {
            @case ('sectorAssociationId') {
              <div
                [options]="assigneeOptions()"
                formControlName="userId"
                govuk-select
                widthClass="govuk-!-width-full"
              ></div>
            }

            @default {
              {{ row[column.field] }}
            }
          }
        </ng-container>
      </ng-template>
    </govuk-table>

    <ng-container *ngTemplateOutlet="pagination" />

    <div class="govuk-button-group">
      <button netzPendingButton govukButton type="submit" class="govuk-!-margin-top-3">Save</button>
      <button govukSecondaryButton type="button" (click)="refreshSectorAssociationSiteContacts()">
        Discard changes
      </button>
    </div>
  </form>
} @else {
  <govuk-table [columns]="columns" [data]="state().siteContacts">
    <ng-template let-column="column" let-row="row">
      @if (column.field === 'sectorAssociationId') {
        {{ regulatorNames().get(row.userId) || 'Unassigned' }}
      } @else {
        {{ row[column.field] }}
      }
    </ng-template>
  </govuk-table>

  <ng-container *ngTemplateOutlet="pagination" />
}

<ng-template #pagination>
  <cca-pagination
    [count]="state().totalItems"
    [currentPage]="currentPage()"
    [pageSize]="pageSize()"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  />
</ng-template>
