<govuk-error-summary [form]="form"></govuk-error-summary>

<netz-page-heading size="l">Change sector contact details</netz-page-heading>

<div class="govuk-!-width-one-half">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div formControlName="title" govuk-text-input label="Title (optional)" labelSize="small"></div>

    <div formControlName="firstName" govuk-text-input label="First name" labelSize="small"></div>

    <div formControlName="lastName" govuk-text-input label="Last name" labelSize="small"></div>

    <div formControlName="jobTitle" govuk-text-input label="Job title (optional)" labelSize="small"></div>

    <div
      formControlName="organisationName"
      govuk-text-input
      label="Organisation name (optional)"
      labelSize="small"
    ></div>

    <div formControlName="phoneNumber" govuk-text-input label="Phone number (optional)" labelSize="small"></div>

    <div formControlName="email" govuk-text-input label="Email address" labelSize="small"></div>

    <h2 class="govuk-heading-m">Sector contact address</h2>

    <div formGroupName="address">
      <cca-county-address-input></cca-county-address-input>
    </div>

    <button netzPendingButton govukButton type="submit">Submit</button>
  </form>
</div>

<hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
<a class="govuk-link" [routerLink]="'../'"> Return to: {{ returnText }} </a>
