@if (status() === 'INVALID' && authoritiesForm.touched) {
  <govuk-error-summary [form]="authoritiesForm"></govuk-error-summary>
}

@if (isEditable()) {
  <p class="govuk-body">Add a new user</p>

  <form [formGroup]="createUserForm" (ngSubmit)="onSelectUserType()" data-testid="sector-user-type-form">
    <div class="govuk-body" style="display: flex">
      <div [options]="createUserTypeOptions" formControlName="userType" govuk-select></div>

      <button ccaPendingButton govukButton type="submit" class="govuk-!-margin-left-3">Continue</button>
    </div>
  </form>

  <govuk-details summary="Learn more about user types">
    <h3 class="govuk-heading-s">User types</h3>

    <h3 class="govuk-heading-s">Administrator user</h3>
    <p>Every organisation account must have at least one administrator user. Administrator users can:</p>
    <ul>
      <li>add, edit and remove other users on the account</li>
      <li>be assigned as a primary, secondary or service contact</li>
      <li>submit target period reporting</li>
    </ul>

    <h3 class="govuk-heading-s">Basic user</h3>
    <p>A basic user can:</p>
    <ul>
      <li>view user details</li>
      <li>perform all tasks related to target units and facilities</li>
      <li>submit target period reporting</li>
    </ul>
  </govuk-details>
}

<form [formGroup]="authoritiesForm" id="authorities-form" (ngSubmit)="onSaveAuthorities()">
  <govuk-table
    [columns]="isEditable() ? sectorContactUsersColumns : nonEditableCols"
    (sort)="sortBy($event)"
    [data]="authorities()"
    formArrayName="authorities"
  >
    <ng-template let-column="column" let-index="index" let-row="row">
      <div [formGroupName]="index" class="cell-container">
        @switch (column.field) {
          @case ('name') {
            @if (isEditable() || row.userId === userId()) {
              <a [routerLink]="['sector-user', row.userId]" govukLink>{{ row | userFullName }}</a>
            } @else {
              {{ row | userFullName }}
            }
          }

          @case ('userType') {
            @if (isEditable() && authoritiesArray.at(index).controls.status.value === 'ACTIVE') {
              <div [options]="createUserTypeOptions" formControlName="userType" govuk-select></div>
            } @else {
              {{ row['roleName'] }}
            }
          }

          @case ('status') {
            @if (row[column.field] !== 'PENDING') {

              @if (isEditable()) {
                <div
                  [options]="row[column.field] === 'ACCEPTED' ? authorityStatusesAccepted : authorityStatuses"
                  formControlName="status"
                  govuk-select
                  widthClass="govuk-!-width-full"
                ></div>
              } @else {
                {{ row[column.field] | titlecase }}
              }
            } @else {
              Awaiting Confirmation
            }
          }

          @case ('deleteBtn') {
            <a [routerLink]="[]" (click)="onDeleteSectorUser(row.userId)">Delete</a>
          }

          @default {
            {{ row[column.field] }}
          }
        }
      </div>
    </ng-template>
  </govuk-table>

  @if (isEditable() && authorities()?.length > 0) {
    <div class="govuk-button-group">
      <button ccaPendingButton govukButton type="submit">Save</button>
      <button (click)="refresh()" govukSecondaryButton type="button">Discard changes</button>
    </div>
  }
</form>
