<form [formGroup]="form" (ngSubmit)="onSubmit()" class="govuk-!-width-two-thirds">
  <h2>Edit note</h2>

  <div
    govuk-textarea
    label="Note"
    labelSize="medium"
    formControlName="note"
    hint="This will only be visible to other regulators"
  ></div>

  <cca-multiple-file-input
    formControlName="files"
    [baseDownloadUrl]="'../../file-download/'"
    label="Upload files (optional)"
  />

  <div class="govuk-button-group">
    <button govukButton class="govuk-button" type="submit">Save and continue</button>
  </div>
</form>

<a routerLink="../../../" fragment="notes" class="govuk-link">Return to: Target unit notes</a>
