<div class="cca-multi-file-upload cca-multi-file-upload--enhanced">
  <label [for]="id" [id]="'l.' + id" [class]="currentLabelSize()">{{ label() }}</label>

  @if (text()) {
    <span>{{ text() }}</span>
  }

  @if (showFilesizeHint()) {
    <span [id]="id + '-hint-file-size'" class="govuk-hint govuk-!-display-block">
      Your document must be a DOC, DOCX, XLS, XLSX, PPT, PPTX, VSD, VSDX, JPG, JPEG, PDF, PNG, TIF, TXT, DIB, BMP or CSV
      file, no more than 20MB.
    </span>
  }

  @if (hint()) {
    <span [id]="id + '-hint'" class="govuk-hint govuk-!-display-block">{{ hint() }}</span>
  }

  @if (shouldDisplayErrors()) {
    <govuk-error-message [errors]="control.errors" [identifier]="id" />
  }

  <div class="cca-file-upload__button-wrapper">
    <input
      #input
      (blur)="onFileBlur()"
      (change)="onFileChange($event)"
      [accept]="accepted()"
      [attr.aria-describedby]="describedBy() || null"
      [disabled]="isDisabled()"
      [id]="id"
      [name]="id"
      class="govuk-file-upload govuk-visually-hidden"
      tabindex="-1"
      type="file"
    />

    <button
      #filePickerButton
      type="button"
      class="govuk-button govuk-button--secondary"
      [id]="'ld.' + id"
      [attr.aria-labelledby]="'l.' + id + ' ld.' + id"
      [attr.aria-describedby]="describedBy() || null"
      [disabled]="isDisabled()"
      (blur)="onFileBlur()"
      (click)="onFilePickerButtonClick()"
    >
      Choose file
    </button>
  </div>

  <cca-file-upload-list
    [listTitle]="listTitle()"
    (fileDelete)="onFileDeleteClick()"
    [files]="uploadedFiles()"
    [isDisabled]="isDisabled()"
  />
</div>
