<div class="govuk-!-width-two-thirds">
  <div formControlName="operatorType" govuk-radio legend="Operator type" legendSize="medium" hint="Select one option">
    @for (option of operatorTypeOptions; track option.value) {
      <govuk-radio-option [label]="option.text" [value]="option.value" />
    }
  </div>

  <div
    formControlName="name"
    govuk-text-input
    label="Operator name"
    labelSize="medium"
    hint="For limited companies, limited partnerships or limited liability partnerships this should be the name which currently appears on Companies House"
  ></div>

  <p class="govuk-body">Standard Industrial Classification (SIC) codes (optional)</p>
  <p class="govuk-hint">
    You can add, edit or remove SIC codes. <br />You can find a
    <a class="govuk-link" rel="noreferrer noopener" href="https://resources.companieshouse.gov.uk/sic/" target="_blank">
      condensed list of all SIC codes
    </a>
    on the Companies House website.
  </p>

  <ng-container formArrayName="sicCodes">
    @for (sicCode of sicCodeFormArray.controls; let i = $index; track sicCode) {
      <div class="row-flex govuk-!-margin-right-3">
        <div class="govuk-grid-column-one-third govuk-!-padding-left-0">
          <div [formControlName]="i" govuk-text-input class="govuk-!-width-full"></div>
        </div>

        <div class="govuk-grid-column-one-third">
          @if (sicCodeFormArray.length > 1) {
            <a
              govukLink
              (click)="removeCode(i)"
              (keydown)="removeCode(i)"
              role="button"
              tabindex="0"
              class="govuk-!-width-two-thirds"
              >Remove</a
            >
          }
        </div>
      </div>
    }
  </ng-container>

  @if (sicCodeFormArray.length < 4) {
    <div class="govuk-button-group">
      <button (click)="addCode()" govukSecondaryButton type="button">Add a code</button>
    </div>
  }

  @if (subSectorOptions.length > 0) {
    <div [options]="subSectorOptions" formControlName="subsectorAssociationId" govuk-select label="Subsector"></div>
  }
</div>
