@if (facilityInfoDTO; as details) {
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <netz-page-heading size="l" [caption]="details.facilityBusinessId" class="govuk-tag-heading-align">
        {{ details.siteName }}

        <span>
          <govuk-tag [color]="details.status === 'LIVE' ? 'green' : 'red'">
            {{ details.status | status }}
          </govuk-tag>
        </span>
      </netz-page-heading>
    </div>

    <div class="govuk-grid-column-one-quarter" style="text-align: end">
      <button class="govuk-!-margin-top-6" govukButton type="button" routerLink="./process-actions">
        Start a facility task
      </button>
    </div>
  </div>

  <section data-testid="target-unit">
    <govuk-tabs queryParamsHandling="replace">
      <ng-template govukTabLazy id="details" label="Facility details">
        <cca-summary [data]="summaryData()" />
      </ng-template>

      @if (roleType() !== 'SECTOR_USER') {
        <ng-template govukTabLazy id="audit" label="Audit">
          <cca-audit-summary />
        </ng-template>
      }

      <ng-template govukTabLazy id="workflow-history" label="Workflow history">
        <cca-workflow-history-tab />
      </ng-template>
    </govuk-tabs>
  </section>
}
