@if (vm(); as vm) {
  <div class="govuk-grid-row">
    <div [class]="vm.hasRelatedActions ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
      <netz-page-heading size="l">
        {{ vm.header }}

        @if (vm.requestTask; as rt) {
          <netz-task-header-info [assignee]="rt.assigneeFullName" [daysRemaining]="rt.daysRemaining" />
        }
      </netz-page-heading>

      @if (vm.preContentComponent; as preContentComponent) {
        <ng-container *ngComponentOutlet="preContentComponent" />
      }

      @if (vm.contentComponent; as component) {
        <ng-container *ngComponentOutlet="component" />
      } @else {
        <netz-task-list [sections]="vm.sections" />
      }

      @if (vm.postContentComponent; as postContentComponent) {
        <ng-container *ngComponentOutlet="postContentComponent" />
      }

      @if (vm.relatedTasks; as relatedTasks) {
        <netz-related-tasks [items]="relatedTasks" />
      }

      @if (vm.hasTimeline) {
        <netz-timeline>
          @for (timelineEntry of vm.timeline; track timelineEntry.id) {
            <netz-timeline-item [action]="timelineEntry" [link]="timelineEntry | timelineItemLink: true" />
          }
        </netz-timeline>
      }
    </div>

    @if (vm.hasRelatedActions) {
      <div class="govuk-grid-column-one-third">
        <netz-related-actions
          [allowedRequestTaskActions]="vm.relatedActions"
          [showReassignAction]="vm.showAssignAction"
          [taskId]="vm.requestTask.id"
        />
      </div>
    }
  </div>
}
