.cca-multi-file-upload {
  margin-bottom: 40px;
}

.cca-multi-file-upload--enhanced .cca-multi-file-upload__button {
  display: none;
}

.cca-multi-file-upload__dropzone {
  outline: 3px dashed var(--govuk-black);
  display: flex;
  text-align: center;
  padding: var(--govuk-spacing-9) var(--govuk-spacing-3);
}

.cca-multi-file-upload__dropzone button {
  margin-bottom: 0;
  display: inline-block;
  width: auto;
}

.cca-multi-file-upload__dropzone p {
  margin-bottom: 0;
  margin-right: 10px;
  padding-top: 7px;
}

.cca-multi-file-upload__dropzone [type='file'] {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

.cca-file-upload__button-wrapper {
  display: inline-block;
}

.cca-file-upload__button-wrapper:focus-within .govuk-button {
  border-color: var(--govuk-focus-colour);
  outline: 3px solid transparent;
  box-shadow: inset 0 0 0 1px var(--govuk-focus-colour);
  color: var(--govuk-focus-text-colour);
  background-color: var(--govuk-focus-colour);
}

.cca-multi-file-upload--dragover {
  background: #b1b4b6;
  outline-color: #6f777b;
}

.cca-multi-file-upload__dropzone:focus-within {
  outline: 3px solid var(--govuk-focus-colour);
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px var(--govuk-black);
}

.cca-multi-file-upload__error {
  color: var(--govuk-red);
  font-weight: bold;
}

.cca-multi-file-upload__success {
  color: var(--govuk-green);
  font-weight: bold;
}

.cca-multi-file-upload__error svg {
  fill: currentColor;
  float: left;
  margin-right: var(--govuk-spacing-2);
}

.cca-multi-file-upload__success svg {
  fill: currentColor;
  float: left;
  margin-right: var(--govuk-spacing-2);
}

.cca-multi-file-upload__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cca-multi-file-upload__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #b1b4b6;
  padding: 10px 0;
}

.cca-multi-file__uploaded-files {
  margin-top: 30px;
}

.cca-multi-file-upload__message {
  min-width: 0;
  word-break: break-word;
}

.cca-multi-file-upload__delete {
  color: #d4351c;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-size: inherit;
}

.cca-multi-file-upload__filename {
  font-weight: bold;
  margin-right: 10px;
}

.cca-multi-file-upload__progress {
  color: #505a5f;
  margin-left: 10px;
  font-size: 90%;
}
