<h3 class="govuk-heading-s">Performance report</h3>
<div [formGroup]="form" data-testid="performance-report-component">
  <div
    widthClass="govuk-!-width-one-quarter"
    label="Select the period"
    [options]="targetPeriodsOptions"
    formControlName="targetPeriodType"
    govuk-select
  ></div>
</div>

@if (performanceReport()) {
  <cca-summary [data]="accountPerformanceDataSummaryData()" />
  <a class="govuk-link" [routerLink]="[targetPeriodValue(), 'PERFORMANCE', 'performance-data-submitted-report']"
    >View details</a
  >
} @else {
  <p>There are no reports for the selected period.</p>
}
