<div>
  <netz-page-heading>Manage facilities list</netz-page-heading>

  @if (showErrorSummary()) {
    <govuk-error-summary [form]="form"></govuk-error-summary>
  }

  <h2 class="govuk-heading-m">Facilities</h2>
  <p class="govuk-body">Your agreement must include at least one facility.</p>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <ng-template #contentTpl let-showOriginal="showOriginal">
      <cca-facility-item-list
        [facilityItems]="showOriginal ? originalFacilityItems() : manageFacilities().facilityItems"
        [isEditable]="isEditable()"
      ></cca-facility-item-list>
    </ng-template>

    <cca-highlight-diff>
      <ng-container slot="previous" *ngTemplateOutlet="contentTpl; context: { showOriginal: true }"></ng-container>
      <ng-container slot="current" *ngTemplateOutlet="contentTpl; context: { showOriginal: false }"></ng-container>
    </cca-highlight-diff>

    @if (isEditable()) {
      <button [routerLink]="['../', 'add']" govukSecondaryButton type="button">Add another facility</button>

      @if (isCompleted() === false) {
        <div class="govuk-button-group">
          <button netzPendingButton govukButton type="submit">Confirm and complete</button>
        </div>
      }
    }
  </form>
</div>

<hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
<netz-return-to-task-or-action-page></netz-return-to-task-or-action-page>
