<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <netz-page-heading size="l">{{ title }}</netz-page-heading>
  </div>

  <div class="govuk-grid-column-one-quarter" style="text-align: end">
    <button govukButton type="button" routerLink="./process-actions">Start a new task</button>
  </div>
</div>

<govuk-tabs queryParamsHandling="replace">
  <ng-template govukTabLazy id="details" label="Details">
    <cca-sector-details-tab />
  </ng-template>

  <ng-template govukTabLazy id="scheme" label="Scheme">
    <cca-sector-scheme-tab />
  </ng-template>

  <ng-template govukTabLazy id="contacts" label="Contacts">
    <cca-sector-contacts-tab />
  </ng-template>

  <ng-template govukTabLazy id="target-units" label="Target units">
    <cca-sector-target-units-tab />
  </ng-template>

  @if (isAllowedUser) {
    <ng-template govukTabLazy id="workflow-history" label="Workflow history">
      <cca-workflow-history-tab />
    </ng-template>

    <ng-template govukTabLazy id="reports" label="Reports">
      <cca-reports-tab />
    </ng-template>

    <ng-template govukTabLazy id="subsistence-fees" label="Subsistence fees">
      <cca-subsistence-fees-tab />
    </ng-template>
  }
</govuk-tabs>
