<netz-page-heading size="l">Request two-factor authentication reset</netz-page-heading>

<p>
  If you have lost your device and cannot access your authenticator, you must request a reset from your Regulator or
  Advanced User.
</p>

<h3 class="govuk-heading-s">User</h3>
<p>Contact your Advanced User</p>
<h3 class="govuk-heading-s">Regulator</h3>
<p>Contact your Regulator Administrator</p>

<p>
  You can contact also the
  <a href="mailto:cca@environment-agency.gov.uk"> CCA Helpdesk</a>. If you are sending an email, use the subject line 'I
  have lost access to my authenticator app - Climate Change Agreements Scheme', and include the name of the account you
  belong to.
</p>

<div class="govuk-!-margin-bottom-9"></div>
<cca-back-to-top />
