<button govukSecondaryButton class="govuk-!-margin-top-5" type="button" (click)="exportToCsv()">
  Download search results
</button>

<govuk-table [columns]="tableColumns()" [data]="state().patReportItems">
  <ng-template let-column="column" let-row="row">
    @switch (column.field) {
      @case ('businessId') {
        <a
          [routerLink]="
            isFacilityReport()
              ? ['/target-unit-accounts', row.parentId, 'facilities', row.id]
              : ['/target-unit-accounts', row.id]
          "
          [fragment]="'reports'"
          [queryParams]="{ section: 'pat' }"
          class="govuk-link"
        >
          {{ row[column.field] }}
        </a>
      }

      @case ('submissionDate') {
        <span>{{ row[column.field] | govukDate: 'date' }}</span>
      }

      @case ('status') {
        <span>{{ row[column.field] | titlecase }}</span>
      }

      @default {
        <span>{{ row[column.field] }}</span>
      }
    }
  </ng-template>
</govuk-table>

<cca-pagination
  [count]="state().totalItems"
  [currentPage]="state().currentPage"
  [pageSize]="state().pageSize"
  (pageChange)="onPageChange($event)"
  (pageSizeChange)="onPageSizeChange($event)"
/>
