<h3 class="govuk-heading-m">Facilities</h3>

<div class="govuk-grid-row" data-testid="facilities-search">
  <form (ngSubmit)="onSearch()" [formGroup]="form" id="search-form">
    <div class="govuk-grid-column-two-thirds">
      <div
        formControlName="term"
        govuk-text-input
        label="Find a facility"
        hint="Enter at least three characters of the site name or facility ID"
        inputType="search"
        aria-description="search results will appear below"
      ></div>
    </div>

    <div class="govuk-grid-column-one-third" style="text-align: start">
      <button style="margin-top: 65px" netzPendingButton govukButton type="submit" data-testid="search-btn">
        Search
      </button>
    </div>
  </form>

  @if (state().totalItems) {
    <div class="govuk-grid-column-full">
      <govuk-table [columns]="tableColumns()" [data]="facilities()" data-testid="facilities-list-table">
        <ng-template let-column="column" let-index="index" let-row="row">
          @switch (column.field) {
            @case ('id') {
              <a [routerLink]="[row.id, 'details']" class="govuk-link">{{ row[column.field] }}</a>
            }

            @case ('siteName') {
              {{ row[column.field] }}
            }

            @case ('status') {
              <govuk-tag [color]="row[column.field] === 'LIVE' ? 'green' : 'red'">
                {{ row[column.field] | status }}
              </govuk-tag>
            }

            @case ('schemeExitDate') {
              {{ row[column.field] | date: 'dd/MM/yyyy' }}
            }

            @case ('certifiedStatus') {
              {{ row[column.field] | titlecase }}
            }

            @case ('certificationStatus') {
              {{ row[column.field] | status }}
            }

            @default {
              {{ row[column.field] }}
            }
          }
        </ng-template>
      </govuk-table>

      <cca-pagination
        [count]="state().totalItems"
        [currentPage]="currentPage()"
        [pageSize]="pageSize()"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      />
    </div>
  } @else {
    <div class="govuk-grid-column-full">
      <p tabindex="-1" role="status">There are no results to show.</p>
    </div>
  }
</div>
