<form [formGroup]="targetUnitsForm" id="target-units-form" (ngSubmit)="onSubmit()">
  <govuk-table
    [columns]="targetUnitsColumns"
    [data]="targetUnits()"
    formArrayName="targetUnits"
    data-testid="target-unit-list"
  >
    <ng-template let-column="column" let-index="index" let-row="row">
      <div [formGroupName]="index">
        @switch (column.field) {
          @case ('accountName') {
            <a [routerLink]="['target-units', row.accountId]" class="govuk-link">{{ row[column.field] }}</a>
          }

          @case ('businessId') {
            {{ row[column.field] | uppercase }}
          }

          @case ('assignedTo') {
            @if (editable()) {
              <div [options]="sectorUserOptions()" formControlName="assignedTo" govuk-select></div>
            } @else {
              {{ sectorNames().get(row[column.field]) || 'Unassigned' }}
            }
          }

          @case ('status') {
            <govuk-tag [color]="row[column.field] | statusColor">
              {{ row[column.field] | lowercase }}
            </govuk-tag>
          }

          @default {
            {{ row[column.field] }}
          }
        }
      </div>
    </ng-template>
  </govuk-table>

  <cca-pagination
    [count]="state().totalItems"
    [currentPage]="currentPage()"
    [pageSize]="pageSize()"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  />

  @if (editable() && targetUnits()?.length > 0) {
    <div class="govuk-button-group">
      <button netzPendingButton govukButton type="submit">Save</button>
      <button (click)="refresh()" govukSecondaryButton type="button">Discard changes</button>
    </div>
  }
</form>
