@import 'govuk-frontend/dist/govuk/settings/_colours-applied.scss';

.cell-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  cursor: pointer;
  color: $govuk-link-colour;
}

div {
  overflow-wrap: break-word;
}
