<div class="govuk-grid-row" data-testid="account-search">
  <div class="govuk-grid-column-full">
    <netz-page-heading size="xl" data-testid="page-heading">Target unit accounts</netz-page-heading>

    <div class="govuk-grid-row">
      <form (ngSubmit)="onSearch()" [formGroup]="searchForm" id="search-form">
        <div class="row-flex govuk-!-margin-bottom-5">
          <div class="govuk-grid-column-two-thirds">
            <div
              formControlName="term"
              govuk-text-input
              label="Enter target unit name, ID or facility code"
              inputType="search"
              aria-description="search results will appear below"
            ></div>
          </div>

          <div class="govuk-grid-column-one-third align-self-end">
            <button netzPendingButton govukButton type="submit">Search</button>
          </div>
        </div>

        <div class="govuk-grid-column-full">
          @if (state(); as state) {
            @if (state.accounts.length) {
              <ng-container aria-live="polite" role="region" aria-atomic="true">
                <cca-accounts-list data-testid="accounts-component" [accounts]="state.accounts"> </cca-accounts-list>
                <cca-pagination
                  [count]="count()"
                  (currentPageChange)="handlePageChange($event)"
                  [pageSize]="pageSize"
                ></cca-pagination>
              </ng-container>
            } @else {
              <div class="govuk-grid-row">
                <p class="govuk-body" tabindex="-1" role="status">There are no results to show</p>
              </div>
            }
          }
        </div>
      </form>
    </div>
  </div>
</div>
