@import '/projects/govuk-components/src/styles/settings/colours-applied';

.cell-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

a {
  cursor: pointer;
  color: $govuk-link-colour;
}

div {
  overflow-wrap: break-word;
}
