<div class="govuk-!-width-two-thirds">
  @if (hasFormErrors() && (form?.pristine || form?.dirty)) {
    <govuk-error-summary [form]="form" />
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <netz-page-heading>Select the target period you are reporting for</netz-page-heading>
    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Select target period</h2>
    <p class="govuk-hint govuk-!-margin-top-1">
      Choose the preferred target period from the options that are currently available.
    </p>

    <div [options]="availablePeriodTypes" formControlName="targetPeriodType" govuk-select></div>

    <govuk-details summary="The target period I need isn't displayed">
      <p>
        TP6 reporting should be done through the 'Download target period reporting (TPR) spreadsheets' and 'Upload
        target period reporting (TPR) spreadsheets' tasks.
      </p>

      <p>
        The available target period list only includes the current target periods for which you can submit a report or
        correction. Additional target periods will become available once their respective reporting periods start.
      </p>
    </govuk-details>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Target period report type</h2>
    <p class="govuk-hint govuk-!-margin-top-1">
      This shows if you are currently eligible for a final report or an interim report based on your selected target
      period
    </p>

    @if (selectedReportType()) {
      <p class="govuk-!-margin-bottom-9">{{ selectedReportType() | titlecase }} reporting</p>
    }

    <button netzPendingButton govukButton type="submit">Save and continue</button>
  </form>
</div>
