<div class="govuk-!-width-two-thirds">
  @if (hasFormErrors() && (form?.pristine || form?.dirty)) {
    <govuk-error-summary [form]="form" />
  }

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <netz-page-heading>Select the target period you are reporting for</netz-page-heading>
    <p class="govuk-!-margin-bottom-1">Starting dates of the respective reporting periods are the following:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>TP7 final report from 1 January 2027</li>
      <li>TP8 interim report from 1 January 2028</li>
      <li>TP8 final report from 1 January 2029</li>
      <li>TP9 interim report from 1 January 2030</li>
      <li>TP9 final report from 1 January 2031</li>
    </ul>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Select target period</h2>
    <p class="govuk-hint govuk-!-margin-top-1">
      Choose the preferred target period from the options that are currently available.
    </p>

    <div [options]="availablePeriodTypes" formControlName="targetPeriodType" govuk-select></div>

    <govuk-details summary="The target period I need isn't displayed">
      <p>
        TP6 reporting should be done through the 'Download target period reporting (Final) spreadsheets' and 'Upload
        target period reporting (Final) spreadsheets' tasks.
      </p>

      <p>
        The list only includes target periods for which you can submit a report (or a correction to a previously
        submitted report). Additional target periods will become available once their respective reporting periods
        start.
      </p>
    </govuk-details>

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Target period report type</h2>
    <p class="govuk-hint govuk-!-margin-top-1">
      The service automatically determines the type of target period report (final report or interim report) based on
      the current period you have selected and the current date.
    </p>

    @if (selectedReportType()) {
      <p class="govuk-!-margin-bottom-9">{{ selectedReportType() | titlecase }} reporting</p>
    }

    <button netzPendingButton govukButton type="submit">Save and continue</button>
  </form>
</div>
