@if (routeData.subSector; as subSector) {
  <netz-page-heading size="l">{{ title }}</netz-page-heading>

  <h2 class="govuk-heading-m">Subsector details</h2>

  <dl govuk-summary-list data-testid="details-list">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Name</dt>
      <dd govukSummaryListRowValue>{{ subSector.subsectorAssociation.name }}</dd>
    </div>
  </dl>

  <h2 class="govuk-heading-m">Target currency</h2>

  <dl govuk-summary-list data-testid="target-list">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Target type</dt>
      <dd govukSummaryListRowValue>{{ subSector.targetSet.targetCurrencyType }}</dd>
    </div>

    @if (['Absolute', 'Relative'].includes(subSector.targetSet.targetCurrencyType)) {
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Throughput unit</dt>
        <dd govukSummaryListRowValue>{{ subSector.targetSet.throughputUnit }}</dd>
      </div>
    }

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Energy or Carbon unit</dt>
      <dd govukSummaryListRowValue>{{ subSector.targetSet.energyOrCarbonUnit }}</dd>
    </div>
  </dl>

  <div class="govuk-!-margin-bottom-9">
    <h2 class="govuk-heading-m">Sector commitment</h2>

    <govuk-table [columns]="sectorCommitmentColumns" [data]="sectorCommitment">
      <ng-template let-column="column" let-index="index" let-row="row">
        @if (column.field === 'targetPeriod') {
          <strong>{{ row[column.field] }}</strong>
        } @else {
          {{ row[column.field] | number: '1.5' : 'en-GB' | percent: '1.0-3' : 'en-GB' }}
        }
      </ng-template>
    </govuk-table>
  </div>
}
