<div>
  <netz-page-heading caption="TP5 (2021-2022)">Summary</netz-page-heading>

  <ng-template #contentTpl let-showOriginal="showOriginal">
    <cca-summary [data]="showOriginal ? summaryDataOriginal : summaryDataCurrent" />
  </ng-template>

  <cca-highlight-diff>
    <ng-container slot="previous" *ngTemplateOutlet="contentTpl; context: { showOriginal: true }"></ng-container>
    <ng-container slot="current" *ngTemplateOutlet="contentTpl; context: { showOriginal: false }"></ng-container>
  </cca-highlight-diff>
</div>

<netz-return-to-task-or-action-page></netz-return-to-task-or-action-page>
