<cca-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  caption="Admin termination"
  heading="Provide termination reason details"
  data-testid="termination-details-reason-form"
>
  <div class="govuk-!-width-two-thirds govuk-body">
    <div
      formControlName="reason"
      govuk-radio
      hint="For some of the reasons, there will be a 28 day appeal window before final decision of the termination"
      legend="Select reason for termination"
      legendSize="medium"
    >
      @for (option of reasonForTerminationOptions; track option.value) {
        <govuk-radio-option [label]="option.text" [hint]="option.hint" [value]="option.value"></govuk-radio-option>
      }
    </div>

    <div
      formControlName="explanation"
      govuk-textarea
      label="Explain why you are terminating the agreement"
      labelSize="small"
    ></div>

    <cca-multiple-file-input
      [baseDownloadUrl]="downloadUrl"
      [listTitle]="'Uploaded files'"
      label="Upload relevant files (optional)"
      hint="Upload relevant documents to support your explanation."
      formControlName="relevantFiles"
    ></cca-multiple-file-input>
  </div>
</cca-wizard-step>

<hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
<netz-return-to-task-or-action-page></netz-return-to-task-or-action-page>
