<cca-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  caption="Withdraw admin termination"
  heading="Reason for withdrawing the admin termination"
  data-testid="withdraw-termination-details-reason-form"
>
  <div class="govuk-!-width-two-thirds">
    <div
      formControlName="explanation"
      govuk-textarea
      label="Explain why you are withdrawing the admin termination"
      labelSize="small"
    ></div>

    <cca-multiple-file-input
      [baseDownloadUrl]="downloadUrl"
      [listTitle]="'Uploaded files'"
      label="Upload relevant files (optional)"
      hint="Upload relevant documents to support your explanation."
      formControlName="relevantFiles"
    />
  </div>
</cca-wizard-step>

<hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
<netz-return-to-task-or-action-page />
