@if (selectedTargetUnit()) {
  <netz-page-heading size="l" data-testid="page-heading" class="govuk-!-margin-bottom-6">
    Are you sure you want to mark {{ selectedTargetUnit().businessId }}
    and all its facilities as Paid?
  </netz-page-heading>

  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Sector</dt>
      <dd govukSummaryListRowValue>{{ state().sectorMoaDetails.businessId }} - {{ state().sectorMoaDetails.name }}</dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Target unit ID</dt>
      <dd govukSummaryListRowValue>{{ selectedTargetUnit().businessId }}</dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Target unit name</dt>
      <dd govukSummaryListRowValue>{{ selectedTargetUnit().name }}</dd>
    </div>
  </dl>
} @else {
  <netz-page-heading size="l" data-testid="page-heading" class="govuk-!-margin-bottom-6">
    Are you sure you want to mark the {{ selectedTUsCount() }} selected target units and all their facilities as Paid?
  </netz-page-heading>

  <dl govuk-summary-list>
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Sector</dt>
      <dd govukSummaryListRowValue>{{ state().sectorMoaDetails.businessId }} - {{ state().sectorMoaDetails.name }}</dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Selected target units</dt>
      <dd govukSummaryListRowValue>{{ selectedTUsCount() }}</dd>
    </div>
  </dl>
}

<govuk-warning-text assistiveText=""> Any cancelled facilities will not be updated. </govuk-warning-text>

<button netzPendingButton govukButton type="button" (click)="onSubmit()">Confirm and submit</button>
