<cca-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  caption="Variation details"
  heading="Describe the changes"
  data-testid="variation-details-form"
>
  <div class="govuk-!-width-two-thirds">
    <p>Select the type(s) of changes that apply to this variation</p>
    <div govukInsetText>
      <p>
        Any changes to items must be made through the task list.<br />You can add or exclude a facility or change its
        name in the Manage facilities section.
      </p>
    </div>

    <h2 class="govuk-heading-m">Changes that usually require the operator to provide their assent</h2>
    <div formControlName="requireOperatorAssent" govuk-checkboxes>
      @for (option of requireOperatorAssent; track option) {
        <govuk-checkbox [value]="option.value" [label]="option.value | variationChanges" [hint]="option?.hint" />
      }
    </div>

    <h2 class="govuk-heading-m">Changes that don't usually require the operator to provide their assent</h2>
    <div formControlName="dontRequireOperatorAssent" govuk-checkboxes>
      @for (option of dontRequireOperatorAssent; track option) {
        <govuk-checkbox [value]="option" [label]="option | variationChanges" />
      }
    </div>

    <h2 class="govuk-heading-m">Other</h2>
    <div formControlName="otherChanges" govuk-checkboxes>
      @for (option of otherChanges; track option) {
        <govuk-checkbox [value]="option" [label]="option | variationChanges" />
      }
    </div>

    <div
      govuk-textarea
      label="Explain in more detail what you are changing and the reason for the changes"
      formControlName="reason"
    ></div>
  </div>
</cca-wizard-step>

<hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
<netz-return-to-task-or-action-page />
