<div class="govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-m">Scheme</h2>

  <cca-summary [data]="schemeSummaryData()" />
</div>

<h2 class="govuk-heading-m">Subsectors</h2>

@if (subSectors().length) {
  <p>You can find more information about currency and sector commitment in the subsector’s details.</p>
  <govuk-table [columns]="subsectorsColumns" [data]="subSectors()" (sort)="sortBy($event)">
    <ng-template let-column="column" let-index="index" let-row="row">
      @if (column.field === 'name') {
        <a [routerLink]="'subsector/' + row.id" class="govuk-link">{{ row[column.field] }}</a>
      }
    </ng-template>
  </govuk-table>
} @else {
  <p>No sub-sectors to show.</p>
}
