<div class="govuk-!-width-two-thirds">
  <cca-wizard-step
    (formSubmit)="onSubmit()"
    [formGroup]="form"
    heading="Details of the audit"
    caption="Audit details"
    data-testid="audit-details-form"
  >
    <p class="govuk-label govuk-label--m">Audit technique</p>
    <div class="govuk-!-margin-bottom-9" formControlName="auditTechnique" govuk-radio [isInline]="true">
      <govuk-radio-option [value]="'DESK_BASED_INTERVIEW'" [label]="'Desk-based interview'" />
      <govuk-radio-option [value]="'ON_SITE_VISIT'" [label]="'On-site visit'" />
    </div>

    <div
      formControlName="auditDate"
      govuk-date-input
      label="When did the audit take place?"
      size="normal"
      [max]="today"
      hint="Enter the date of the audit"
      class="govuk-!-margin-bottom-9 govuk-!-margin-top-9"
    ></div>

    <div
      govuk-textarea
      label="Comments"
      labelSize="medium"
      hint="Summarise the outcomes of the audit interview and the actions you took"
      formControlName="comments"
    ></div>

    <div
      formControlName="finalAuditReportDate"
      govuk-date-input
      label="When did you send the final audit report to the operator?"
      size="normal"
      class="govuk-!-margin-bottom-9 govuk-!-margin-top-9"
    ></div>

    <p class="govuk-label govuk-label--m">Audit documents</p>
    <span class="govuk-hint"> Upload at least one relevant file from the audit, for example </span>
    <ul class="govuk-hint">
      <li>the completed audit check list</li>
      <li>notes from the audit interview</li>
      <li>copies of the initial and final audit reports sent to the operator</li>
    </ul>
    <cca-multiple-file-input [baseDownloadUrl]="downloadUrl" formControlName="auditDocuments" label=" " hint=" " />
  </cca-wizard-step>

  <hr class="govuk-footer__section-break govuk-!-margin-bottom-3" />
  <netz-return-to-task-or-action-page />
</div>
