<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <netz-page-heading
      size="l"
      [caption]="accountDetails.targetUnitAccountDetails.businessId"
      class="govuk-tag-heading-align"
    >
      {{ accountDetails.targetUnitAccountDetails.name }}

      <span>
        <govuk-tag [color]="accountDetails.targetUnitAccountDetails.status | statusColor">
          {{ accountDetails.targetUnitAccountDetails.status | status }}
        </govuk-tag>
      </span>
    </netz-page-heading>
  </div>
</div>

<section data-testid="target-unit">
  <govuk-tabs queryParamsHandling="replace">
    <ng-template govukTabLazy id="details" label="Details">
      <cca-summary [data]="summaryData" />
    </ng-template>

    <ng-template govukTabLazy id="facilities" label="Facilities">
      <cca-facilities-list />
    </ng-template>

    <ng-template govukTabLazy id="workflow-history" label="Workflow history">
      <cca-workflow-history-tab />
    </ng-template>

    <ng-template govukTabLazy id="reports" label="Reports">
      <cca-tu-reports-tab-component />
    </ng-template>

    <ng-template govukTabLazy id="users-and-contacts" label="Users and contacts">
      <cca-users-and-contacts />
    </ng-template>

    <ng-template govukTabLazy id="buyout-surplus" label="Buy-out and surplus">
      <cca-buyout-and-surplus-tab />
    </ng-template>
  </govuk-tabs>
</section>
